<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1615601076718034~3800270160</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SKExternalPurchase</key>
	<array>
		<string>KR</string>
	</array>
</dict>
</plist>
